body {
  margin: 60px auto;
  width: 70%;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

nav ul, footer ul {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

.statement-div {
 width:800px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 50px;
 margin-bottom: 50px;
 display: block;
}

a {
  text-decoration: none;
  color: #999;
}
  a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  border-bottom: 4px solid #ffcc00;
  padding-bottom: 15px; 
  border-bottom-style: dotted;

}

h2 {font-size: 20px;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  border-bottom: 2px solid black;
  width: 20px;
  margin-top: 20px;
  margin-bottom: 0px;

}

#ei2 {font-size: 20px;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  border-bottom: 2px solid black;
  width: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}

p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}

  footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.numbers {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 50px;
  font-weight: bolder;
  color: rgb(255, 204, 0);

}

.pone {
  margin:65px;
  font-size: 18px;
  margin-top: 20px;

}

#pdf {
  margin-top: 0px;
  font-size: 16px;
  margin-left: 9%;


}

a:hover {
    color: white;
    text-decoration: none;
    background-color: black;
}


a{
  color: black;
}










