* {font-family: avenir next condensed;
  margin: 0;
  padding: 0;
}
#ims {text-align: center; margin-bottom: 30px;}

.nav {
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  background-color: black;
  color: #fff;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-around;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.full-bleed {
  background: url('assets/3648.jpeg') ;
  color: white;
  text-align: center;
  height: 100vh;
  background-position: bottom center;
  background-size: 100%;
}

#imagewrap {float: right;
            margin-left: 20px;
            margin-right: 20%;
}
h1 { margin-top: 100px; margin-bottom: 20px; }
h2 { margin-top: 30px; margin-bottom: 20px; }
h1:hover {color:black; background-color: white;}

p {margin-left: 20%; margin-right: 20%;
}

p::first-line {font-weight: 600; color: grey;}

section { padding-top: 20px; 
}

section + p { color: pink; }


@media (max-width: 599px) {
  .nav{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 20px;}  
}

@media (min-width: 600px) { 

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-right: 20px;
  padding-left: 20px;}

}

@media (min-width: 900px) { 

/*flex-direction: column*/
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left; padding-left: 10px;
    list-style-type: none;
}  

}
