html, body { width: 100%; height: 100%; position: absolute; font-family:'Avenir-CondensedMedium', 'Arial', 'Sans-Serif';  }


body {background-color: black;
cursor: url('./cursor5.png'), auto; }

#disco {

    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

p {margin-top: 16px;}

@keyframes blinker {  
  50% { opacity: 0.2; }
}

#lyr{

  color: white;
  font-size: 20px;
  width:35%;
  text-align: left;
  margin:auto;
  margin-top: 20%;
  line-height: 26px;
  animation: blinker 0.1s linear infinite;
}

#lyr:hover{ text-shadow: 0 0 10px #fff, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de }

#button{

      margin-top: 60px;
      margin-left: 40px;
      margin-right: 1%; 
      border: none;
      background-repeat: no-repeat;
      background-position: center;
      float:left;
      outline:none;
      color: white;
      font-size: 24px;
      
}


#button:hover{background-color: #ff00e9}
#lyrics:hover{background-color: #ff00e9}
#about:hover{background-color: #ff00e9}

#lyrics {
      float: left;
      margin-top: 60px;
      margin-left: 5%;  
      border: none;
      background-repeat: no-repeat;
      background-position: center;
      outline:none;
      color: white;
      font-size: 24px;
}

#about {
      float: left;
      margin-top: 60px;
      margin-left: 65%;  
      border: none;
      background-repeat: no-repeat;
      background-position: center;
      outline:none;
      color: white;
      font-size: 24px;
}

