html, body { width: 100%; height: 100%;  }




img {
	width: 40%;
	height:40%;
	margin: auto;
	margin-right: 30%;
	margin-left: 30%;
	margin-top: 10%;
	text-align: center;
	
}

#three {
    width: 80%;
	margin: auto;	
	margin-top: 6%;
	text-align: center;
	
	
}

#four {
	width: 80%;
	margin: auto;	
	margin-top: 6%;
	text-align: center;
	
}

#five {
	width: 80%;
	margin: auto;	
	margin-top: 6%;
	text-align: center;
	
}

#six {
	width: 80%;
	margin: auto;	
	margin-top: 4%;
	text-align: center;
	
}

#seven {
	width: 80%;
	margin: auto;	
	margin-top: 6%;
	text-align: center;
	
}

#eight {
	width: 80%;
	margin: auto;	
	margin-top: 6%;
	text-align: center;
	
}


#nine {
	width: 80%;
	margin: auto;	
	margin-top: 6%;
	text-align: center;
	
}

#ten {
	width: 80%;
	margin: auto;	
	margin-top: 6%;
	text-align: center;
	
}

#eleven {
	width: 80%;
	margin: auto;	
	margin-top: 6%;
	text-align: center;
	
}

#twelve {
	  width: 80%;
	margin: auto;	
	margin-top: 6%;
	text-align: center;
	
}

#thirteen {
	width: 80%;
	margin: auto;	
	margin-top: 6%;
	text-align: center;
	
}

#fourteen {
	width: 80%;
	margin: auto;	
	margin-top: 6%;
	text-align: center;
	
}

#fifteen {
	width: 80%;
	margin: auto;	
	margin-top: 6%;
	text-align: center;
	
}

#sixteen {
	width: 80%;
	margin: auto;	
	margin-top: 6%;
	text-align: center;
	
}

#seventeen {
	width: 80%;
	margin: auto;	
	margin-top: 2%;
	text-align: center;
	
}

/*#wrapper { position: relative; width: 100%; height: 100%; background-color: black; width: 100%; }*/




/*#squares { width: 100%; height: 100%; position: relative; }*/

/*#squares .square { position: relative; width: calc(100% / ); height: calc(100% / 4); float: left; }
#squares .square.one { 
	background: url("../img/party9.gif") center center no-repeat;
	background-size: cover;
	transform: rotate(360deg);
	transition: 2s;
	opacity: 0.9;



 }

 #squares .square.one { 
	background: url("../img/party8.gif")center center no-repeat;
	background-size: cover;
	opacity:0.7;
	width: auto;
    height: auto;
}

#squares .square.two { 
	background: url("../img/party7.gif")center center no-repeat;
	background-size: cover;
	opacity:0.7;
	width: auto;
  height: auto;
}

#squares .square.three { 
	background: url("../img/party2.gif")center center no-repeat;
	background-size: cover;	
	opacity: 0.9;
	width: auto;
    height: auto;

}


#squares .square.four { 
	background: url("../img/party1.gif")center center no-repeat;
	background-size: cover;	
	opacity: 0.9;
	width: auto;
    height: auto;

}

#squares .square.five { 
	background: url("../img/party4.gif")center center no-repeat;
	background-size: cover;	
	opacity: 0.7;
	transform: rotate(360deg);
	width: auto;
    height: auto;

}
#squares .square.six { 
	background: url("../img/party6.gif")center center no-repeat;
	background-size: cover;	
	opacity: 0.7;

}

#squares .square.seven { 
	background: url("../img/party3.gif")center center no-repeat;	
	opacity: 0.7;


}



*/


